body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  html {
    height: 100%;
    font-family: "Inconsolata", cursive;
  }
  
  body {
    line-height: 1.6;
    background-color: #f0f0f0;
  }
  
  
  @media screen and (max-width: 768px) {
  
    body {
        font-size: 14px;
        line-height: 1.4;
    }
  }
  
  


header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 0px 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 10px;
}



.container-header{
    position: relative;

  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }


.titlu-header {
    position: relative;
    text-align: center;
  }
  
  .titlu-header span {
    display: inline-block;
    font-size: 90px;
    color: #fff; 
    opacity: 0; 
  }
  
  .overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
  }

  
.fade-in-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    opacity: 0; 
    animation: fadeInImage 2s ease forwards; 
}

  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

@keyframes fadeInImage {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
  
  .titlu-header span {
    animation: fadeIn 1.5s ease forwards;
  }
  


.links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.links li {
  display: inline-block;
  position: relative;
}

.links li a {
  display: block;
  padding: 8px 16px;
  color: #fff;
  background-color: #000;
  text-decoration: none;
}

.links li:hover .dropdown {
  display: block;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%; 
  left: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown a {
  color: #000;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}


#founders {
    padding: 50px;
    text-align: center;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}


.grid-item {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: slideIn 1s forwards;
}


.grid-item img {
    width: 100%;
    height: auto;
    border-radius: 5px; 
}


@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}



